<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>异常</title>
</head>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/yichang/daichuli.css">
<body>

<div id="app">
    <div class="title">
        <span class="def" id="dcl" @click='showList(0)'>待处理</span>
        <span id="dfc" @click='showList(1)'>待复查</span>
        <span id="ywc" @click='showList(2)'>已完成</span>
    </div>
    <div class="content">
        <ul class="detail" id="dcl_con">
            <li v-for='(list,index) in res' @click='linkDetail(index)'>
                <p class="first">{{list.materialName}}</p>
                <p>
                    位置：
                    <span>{{list.location}}</span>
                </p>
                <p>
                    检查时间：
                    <span>{{list.checkTime}}</span>
                </p>
                <p>
                    检查结果：
                    <span>{{list.checkResult}}</span>
                </p>
                <p v-if='params.data.status==0'>
                    检查描述：
                    <span>{{list.description}}</span>
                </p>
                <p>
                    检查人：
                    <span>{{list.checkUserName}}</span>
                </p>
            </li>

<!--             <li onclick="fun()">
                <p class="first">
                    灭火器
                </p>
                <p>
                    位置：
                    <span>一区14幢1楼楼道</span>
                </p>
                <p>
                    检查时间：
                    <span>2018-01-20  11:45:21</span>
                </p>
                <p>
                    检查结果：
                    <span>换好了</span>
                </p>
                <p>
                    检查人：
                    <span>张三</span>
                </p>
            </li> -->
        </ul>
        <!-- <ul class="detail" style="display: none" id="dfc_con">
            <li onclick="fun()">
                <p class="first">
                    灭火器
                </p>
                <p>
                    位置：
                    <span>一区14幢1楼楼道</span>
                </p>
                <p>
                    检查时间：
                    <span>2018-01-20  11:45:21</span>
                </p>
                <p>
                    检查结果：
                    <span>换好了</span>
                </p>
                <p>
                    检查人：
                    <span>张三</span>
                </p>
            </li>
        </ul>
        <ul class="detail" style="display: none" id="ywc_con">
            <li onclick="fun()">
                <p class="first">
                    灭火器
                </p>
                <p>
                    位置：
                    <span>一区14幢1楼楼道</span>
                </p>
                <p>
                    检查时间：
                    <span>2018-01-20  11:45:21</span>
                </p>
                <p>
                    检查结果：
                    <span>换好了</span>
                </p>
                <p>
                    检查人：
                    <span>张三</span>
                </p>
            </li>
        </ul> -->

        <div v-show="nodata" style="text-align: center; padding: 100px 0 0;">没有数据...</div>

    </div>

    <div class="foot">
        <ul>
            <li>
                <a href="../index/index.html">
                    <img src="../imgs/index_img/house.png" alt="">
                    <p class="first">首页</p>
                </a>
            </li>
            <li>
                <a href="../task/renwu.html">
                    <img src="../imgs/index_img/renwu.png" alt="">
                    <p>任务</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../imgs/yichang/yic.png" alt="">
                    <p>异常</p>
                </a>
            </li>
            <li>
                <a href="../zhishi/04_zhishi.html">
                    <img src="../imgs/index_img/zhis.png" alt="">
                    <p>知识</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>

<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<script type="text/javascript" src="../js/fetchData.js"></script>

<script>
    function fn() {
        window.location.href="05_yic_detail.html"
    }
    function fun() {
        window.location.href="02_yic_chulidetail.html"
    }

    //
    $(document).ready(function(){
        $(".title span").click(function(){
            var index=$(this).index();
            //console.log(index);
            $(".title span").removeClass("def");
            $(this).addClass("def");
            //$('.detail').hide();
           //$('.detail:eq('+index+')').show()
        })
    })
</script>
<script>
    var myvue = new Vue({
        el: '#app',
        data: {
            nodata: false,
            res: [],
            params: {
                data:{
                    status: 0
                },
                url:'/app/anomaly/list'
            },
        },
        created(){
            this.getList(this.params);
        },
        methods: {
            getList(params){
             fetchData (params).then(res => {
                console.log(res);
                if (res.data.code == 200) {
                    this.res = res.data.page.list;
                    if(res.data.page.list.length>0){
                        this.nodata = false;
                    }else{
                        this.nodata = true;
                    }
                    
                }else {

                }
              }); 
            },
            showList(status){
                console.log(status);
                this.params.data.status = status;
                console.log(this.params);
                this.getList(this.params);
            },
            linkDetail(index){
                var status = this.params.data.status;
                var params = this.res[index];
                window.location.href="05_yic_detail.html?status="+status+'&params='+JSON.stringify(params);
            }
        }
    });
</script>
</html>