<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>选择上级</title>
</head>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/task_css/xz_shangji.css">
<body>
<div id="app">
    <ul>
        <li>
            <p>选择上级 <span>(可多选)</span></p>
        </li>
        <li v-for="member in members">
            <label>
                <input type="checkbox" name="member" :value="member.id+'-'+member.name" v-model='checkmember'>
                <i>✓</i>
                {{member.name}}
            </label>
        </li>
<!--         <li>
            <label>
                <input type="checkbox" name="member" :value="22+'-'+'宋威龙'" v-model='checkmember'>
                <i>✓</i>
                宋威龙
            </label>
        </li> -->
    </ul>
    <div class="but">
        <p>
            已选人数：
            <span>{{checkmember.length}}</span>
        </p>
        <button @click="sure">确定</button>
    </div>
</div>

</body>
<script>
    function fn() {
        window.location.href="wpjc_yic.html"
    }
</script>

<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<script type="text/javascript" src="../js/fetchData.js"></script>

<script>
    var myvue = new Vue({
        el: '#app',
        data: {
            members: [],
            checkmember: []
        },
        created(){
            let params = {
                data:{
                },
                url:'/app/user/superior'
            }
            
             fetchData (params).then(res => {
                console.log(res);
                if (res.data.code == 200) {
                    this.members = res.data.data;  
                }else {

                }
              });
        },
        methods:{
            sure(){
                if(this.checkmember.length<1){
                    alert('请选择上级');
                }else{
                    var checkmember = this.checkmember.join(',');
                    console.log(this.checkmember);
                    sessionStorage.setItem('chiefIds',checkmember);
                    window.history.back();  //返回上一页    
                }
            }
        }
    });
</script>
</html>