ul{
    width: 100%;
}
ul li{
    width: 100%;
    padding: 10px 3%;
}
ul li img{
    width: 5%;
}
ul li p{
    margin: 0;
    color: #666666;
}
ul li:first-child{
    border: 1px solid #eee;
}
ul li p:first-child{
    color: #1b1e21;
}
button{
    width: 100%;
    background-color: orange;
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    border: 0;
    outline: none;
}