


div.title{
    width: 100%;
    background-color: #fff;
    padding: 10px 0 10px 3%;
    border-bottom: 1px solid #eee;
}
div.title input{
    border: 0;
    padding-left: 15px;
}

div.box_1,div.box{
    width: 100%;
    border: 0;
    padding: 15px 3%;
    background-color: #fff;
}
div.box_1 textarea,div.box textarea{
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 0;
}
div.box_1{
    border-bottom: 10px solid #eee;
}
div.box p:first-child{
    margin-bottom: 0;
}
div.box ul{
    display: flex;
    justify-content: space-between;
    margin:15px 0 20px 0;
}
div.box ul li{
    float: left;
    width: 28%;
    border: 1px solid red;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size:0.9em;

}
div.box ul li:nth-child(1){
    border: 1px solid orange;
    color: orange;
}
div.box ul li:nth-child(2){
    border: 1px solid green;
    color: green;
}
div.box ul li:nth-child(3){
    border: 1px solid #b9bbbe;
    color: #b9bbbe;
}
button{
    width: 100%;
    color: #fff;
    background-color: orange;
    border: 0;
    outline: none;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
}