<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>法律法规详情</title>
</head>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/zhishi/kaosi_list.css">
<body>
<div id="app">
    <p class="title">
    <span>
        <a href="04_zhishi.html">学习</a>
    </span>
    <span>
        <a href="#">考试</a>
    </span>
    </p>
    <ul >
    <li class="wks" v-for='list in res' @click="jump(list.status)">
        <p>
            {{list.examName}}
            <span>{{ list.status |  getStatusName }}</span>
        </p>
        <p>
            <img src="../imgs/zhishi_img/time.png" alt="">
            {{list.beginTime}} ～ {{list.endTime}}
            <span>
               {{list.answerNum}}/{{list.questionNum}}
            </span>
        </p>
    </li>
<!--
    <li class="wks">
        <p>
            消防知识考核
            <span>未开始</span>
        </p>
        <p>
            <img src="../imgs/zhishi_img/time.png" alt="">
            2018.01.21 ～ 2018.01.24
            <span>
                0/100
            </span>
        </p>
    </li>

    <li class="ywc">
        <p>
            消防知识考核
            <span>已完成</span>
        </p>
        <p>
            <img src="../imgs/zhishi_img/time.png" alt="">
            2018.01.21 ～ 2018.01.24
        </p>
    </li>

    <li>
        <p>
            消防知识考核
            <span class="first">[95分]</span>
            <span class="last">已结束</span>
        </p>
        <p>
            <img src="../imgs/zhishi_img/time.png" alt="">
            2018.01.21 ～ 2018.01.24
        </p>
    </li>
    <li onclick="fun()">
        <p>
            消防知识考核
            <span>进行中</span>
        </p>
        <p>
            <img src="../imgs/zhishi_img/time.png" alt="">
            2018.01.21 ～ 2018.01.24
            <span>
                0/100
            </span>
        </p>
    </li>-->
    </ul>
    <div id="tip" style="background:rgb(51, 51, 51);" v-if="isMask"></div>
    <article id="tip_1" v-if="isStart">
        <div class="pack pack_y1">
        <h4>提示</h4>
        <p>当前考试未开始，请耐心等待</p>
        <p>考试开始后进行答题</p>
        <button id="submit" @click="submit">确定</button>
    </div>
    </article>
    <div id="tanc" style="display: none;background: #333" v-if="isMask"></div>
    <article id="tanc_1" v-if="isCompelet">
    <div class="pack pack_y1">
        <h4>提示</h4>
        <p>你已完成考试，请耐心等待考试</p>
        <p>结束后查看分值和答案</p>
        <button id="submit_1" @click="submit_1">确定</button>
    </div>
    </article>
    <div class="foot">
    <ul>
        <li>
            <a href="../index/index.html">
                <img src="../imgs/index_img/house.png" alt="">
                <p class="first">首页</p>
            </a>
        </li>
        <li>
            <a href="../task/renwu.html">
                <img src="../imgs/index_img/renwu.png" alt="">
                <p>任务</p>
            </a>
        </li>
        <li>
            <a href="../yichang/03_daichuli.html">
                <img src="../imgs/index_img/yic.png" alt="">
                <p>异常</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="../imgs/zhishi_img/zhishi.png" alt="">
                <p>知识</p>
            </a>
        </li>
    </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<script type="text/javascript" src="../js/fetchData.js"></script>

<script>
  function fun() {
    window.location.href = "02_kaosi.html"
  }
</script>
<script type="text/javascript">
  //未开始弹窗
  $(function () {
    $(".wks").on("click", function () {
      $("#tip").show();
      $("#tip_1").show();
    });
    $("#submit").on("click", function () {
      $("#tip").hide();
      $("#tip_1").hide();
    })
  })
  //已完成弹框
  $(function () {
    $(".ywc").on("click", function () {
      $("#tanc").show();
      $("#tanc_1").show();
    });
    $("#submit_1").on("click", function () {
      $("#tanc").hide();
      $("#tanc_1").hide();
    })
  })
</script>

<script>

  var myvue = new Vue({
    el: '#app',
    data: {
      isStart:false,
      isEnding:false,
      isCompelet:false,
      isMask:false,
      res: [],
    },
    filters:{
      getStatusName:function (value) {
        if (value === null){
          return ''
        }
        if (value === 0) {
          return '未开始'
        }
        else if (value === 1) {
          return '进行中'
        }
        else if (value === 2) {
          return '已完成'
        }
        else if (value === 3){
          return '已结束'
        }
      }
    },
    methods: {
      jump(value){
        if (value === null){
          return ''
        }
        this.isMask = true;
        if (value === 0) { // 未开始
          this.isStart = true;
        }
        else if (value === 1) { // 进行中 跳转页面
          window.location.href = "02_kaosi.html"
        }
        else if (value === 2) { // 已经完成
          this.isCompelet = true;
        }
        else if (value === 3){ // 已结束

        }
      },
      submit(){ // 关闭提示考试为开始框
        this.isMask = false;
        this.isStart = true;
      },
      submit_1() { // 关闭已完成的框
        this.isMask = false;
        this.isCompelet = true;
      }
    },
    created() {
      let data = {
        data: {
          limit: 10,
          page: 1,
          userId: getUserid()
        },
        url: '/app/exam/list'
      }
      fetchData(data).then(res => {
        console.log(res);
        if (res.data.code === 200) {
          this.res = res.data.page.list;
        } else {

        }
      });
    }
  });
</script>
</html>