div.title,ul.detail{
    width: 100%;
    background-color: #fff;
}
div.title{
    display: flex;
    justify-content: space-around;
    border-bottom: 10px solid #eee;
    padding: 0 3%;
}
div.title span{
    padding: 15px 0;
    color: #8c8e91;
}
div.title span.def{
    border-bottom: 2px solid orange;
    color: #202326;
}
ul.detail li p{
    margin: 0;
}
ul.detail li a{
    color: #202326;
}
ul.detail li p.first{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
ul.detail li p.first span{
    float: right;
    color: orange;
}
ul.detail li{
    border-bottom: 8px solid #eee;
    padding: 0 3% 15px 3%;
}
ul.detail li:last-child{
    border: 0;
}
ul.detail{
    margin: 0;
}
ul.detail:last-child{
    border: 0;
}
div a.bi{
    position: fixed;
    bottom:80px;
    left: 70%;
}
div a.bi img{
    width: 50%;
}
div.foot ul li:first-child a p{
    color: #202326;
}
div.foot ul li:nth-child(2) a img{
    background-color: orange;
}
div.foot ul li:nth-child(2) a p{
    color: orange;
}

