div.title{
    width: 100%;
    padding:15px 3%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
div.title p{
    margin: 0;
}
div.title p span{
    float: right;
    color: #95979a;
}
div.title p span img{
    width: 10%;
    position: relative;
    top:-3px;
}
div.mhq{
    width: 100%;
    padding: 15px 3%;
    background-color: #fff;
    border-bottom: 10px solid #eee;
}
div.mhq div{
    float: left;
}
div.mhq div.box{
    width: 35%;
}
div.mhq div.box img{
    width: 100%;
}
div.mhq div.box_1{
    width: 65%;
    padding-left: 10px;
}
div.mhq div.box_1 p{
    margin: 0 0 2.5% 0;
    color: #6c757d;
    font-size: 0.9em;

}
div.mhq div.box_1 p:first-child{
    color: #202326;
    font-size: 1em;
}
div.mhq div.box_1 p:first-child span{
    float: right;
    color: #fff;
    background-color: orange;
    border-radius: 10px;
    font-size: 0.7em;
    padding: 3px 5px;

}
/**/
div.jcqk{
    width: 100%;
    padding: 0 3%;
    background-color: #fff;
    border-bottom: 10px solid #eee;
    margin: 0;
}
div.jcqk ul{
    margin: 0;
}
div.jcqk ul li{
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    font-size: 0.9em;
}
div.jcqk ul li:last-child{
    border: 0;
}
div.jcqk ul li span{
    border: 1px solid #8c8e91;
    margin-right: 10px;
    padding: 3px 15px;
    font-size: 0.9em;
    color: #8c8e91;
}
div.jcqk ul li span.checked{
    border: 1px solid orange;
    color: orange;
}
p.shangbao{
    padding: 10px 3%;
    background-color: #fff;
}
p.shangbao img{
    width: 5%;
    position: relative;
    top:-3px;
}
p.shangbao span{
    float: right;
}
p.shangbao span img{
    width: 10%;
    position: relative;
    top:-2px;
    margin-left: 5px;
}

/***********备注********/
div.miaosu{
    width: 100%;
    border: 0;
    padding: 15px 3%;
    /*margin-bottom: 80px;*/
    background-color: #fff;
}
div.miaosu p span{
    color: #b9bbbe;
    font-size: 0.8em;
}
div.miaosu textarea{
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 0;
}
/**/
div.pic{
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px 0 15px 3%;
    background-color: #fff;
    margin-bottom: 80px;
}
div.pic p span{
    color: #b9bbbe;
    font-size: 0.8em;
}
div.pic div.tianjia{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #F5F5F5;
}
div.pic div.tianjia img{
    width:30%;
}
button{
    width: 100%;
    padding: 15px 0;
    background-color: orange;
    border: 0;
    outline: none;
    position: fixed;
    bottom: 0;
    color: #fff;
}
