p,div,ul{
    background-color: #fff;
    margin: 0;

}
img{
    width: 2%;
}
p.title{
    color: orange;
    padding: 15px 3%;
}
p.title img,p.title span{
    margin-left: 10px;
    color: #202326;
}
div{
    border-top: 10px solid #eee;
    border-bottom: 10px solid #eee;
    padding: 15px 3%;
}
div p{
    padding: 0;
}
div p span{
    color: #8c8e91;
}

div p img{
   
    margin-right: 3%;
}
ul li{
    padding: 15px 3%;
    border-bottom: 1px solid #eee;
}
ul li label{
    margin-left: 20px;
}
ul li:last-child{
    border: 0;
}
/***********改变复选框样式**********/
label {
    font-size: 1em;
    cursor: pointer;
}

label i {
    font-size: 0.8em;
    font-style: normal;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    vertical-align: middle;
    margin: -2px 2px 2px 0;
    border: orange 1px solid;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="radio"]+i {
    border-radius: 50%;
}

input[type="checkbox"]:checked+i,
input[type="radio"]:checked+i {
    background: orange;
}
